<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">     
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <link href="/css/app.css" rel="stylesheet"  type="text/css">
        <title>FitTracker</title>
  </head>
  <body>
    <nav class="navbar fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-start"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FitTracker</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" data-page="workouts" href="/workouts"
                  >Workouts</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-page="createaworkout" href="/workouts/new">Create A Workout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    
    <section
    class="login-page vh-100 d-flex align-items-center justify-content-center"
  >
  
    <div class="container">
      
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title text-center mb-4">Create A Workout</h1>
              <form action="/workouts/" method="POST">
                <div class="mb-3">
                  <label for="workout-name" class="form-label"
                    >Workout Name:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="workout-name"
                    name="workout"
                  />
                </div>
                <div class="mb-3">
                  <label for="reps" class="form-label">Reps:</label>
                  <input type="text" class="form-control" id="reps" name="reps" />
                </div>
                <div class="mb-3">
                  <label for="Weight" class="form-label">Weight lb:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="weight"
                    name="weight"
                  />
                </div>
                <div class="mb-3">
                  <label for="date" class="form-label">Date:</label>
                  <input type="date" class="form-control" id="date" name="date" />
                </div>
                <div class="mb-3">
                  <label for="notes" class="form-label">Notes:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="notes"
                    name="notes"
                  />
                </div>
                <div class="d-grid">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    name=""
                    value="Submit Workout"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <h1 class="fs-1 text-light fw-semibold text-center">FitTracker</h1>
          <img
            class="app-image mx-auto d-block"
            style="max-width: 100%; height: auto;"
            src="https://pixabay.com/get/g882f8752b82edf08c1d92677b1a00767c87ce498e275b84961ea830b99f610d8f8c21dd0bb8f49b587b54cb656ef0f9265efb1aa81d59b0ad73414996313ffddb578bf4b0d07a83b650a4ace4e85b7e0_640.jpg"
          />
        </div>
      </div>
    </div>
  </section>
  
  </body>

  