<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
  </head>
  <body>
    <h1>Create a new Workout</h1>
    <form action="/workouts/" method="POST">
      Workout Name: <input type="text" name="workout" /><br/>
      Reps: <input type="text" name="reps" /><br/>
      Weight: <input type="text" name="weight" /><br/>
      Date: <input type="text" name="date" /><br/>
      Notes: <input type="text" name="notes" /><br/>
      <br/>
      <input type="submit" name="" value="Submit Workout"/>
    </form>
  </body>